.Cell {
  width: 6vh;
  height: 6vh;
  border: 1px solid #636363;
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.1em;
}

.Cell:hover {
  box-shadow: 0 0 20px #72ffe737;
  border: 1px solid #21ffda;
}

.InnerText {
  text-align: center;
  font-size: 2em;
  flex: 1;
  cursor: pointer;
}

/* .Cell:nth-child(3n) {
  border-right: 1px solid #636363;
}

.Cell:nth-child(3n + 1) {
  border-left: 1px solid #636363;
}

.Cell:first-child {
  border-left: 1px solid #636363;
} */

.SubRow {
  display: flex;
}