.Cell {
  width: 6vh;
  height: 6vh;
  border: 1px solid rgba(102, 33, 33, 0.418);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

.Cell:hover {
  background-color: aliceblue;
}

.InnerText {
  text-align: center;
  font-size: 2em;
  flex: 1;
  cursor: pointer;
}

.Cell:nth-child(3n) {
  border-right: 2px solid rgb(102, 33, 33);
}

.Cell:nth-child(3n + 1) {
  border-left: 2px solid rgb(102, 33, 33);
}

.Cell:first-child {
  border-left: 2px solid rgb(102, 33, 33);
}

.SubRow {
  display: flex;
}